[build]
  command = "npx prisma generate && npm run build"
  publish = "dist"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@nestjs/microservices", "pg-native", "@nestjs/websockets"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200
